@model CustomerListPageModel
    
<div class="customerpage">
    <div class="container-fluid">
        <div class="container text-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Header</h1>
                    @Model.Bodytext
                </div>
            </div>
        </div>
    </div>
</div>
