@using Umbraco.Web
@model MemberLoginModel

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Log in på intranettet</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginUmbracoForm("Login", "MemberSurface"))
                {
                    @Html.EditorFor(x => Model)
                    <input type="submit" value="Log in"/>
                }
            </div>
        </div>
    </div>
</div>
